cifas/cifas/schema/DirectServiceCIFAS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:fd="http://documentation.find-cifas.org.uk" 
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:dmc="http://messages.find-cifas.org.uk/Direct/CIFAS"
                  xmlns="http://services.find-cifas.org.uk/Direct/CIFAS"
                  targetNamespace="http://services.find-cifas.org.uk/Direct/CIFAS">
  <wsdl:documentation>
    <fd:Metadata>
      <fd:Title>Direct Service (CIFAS)</fd:Title>
      <fd:StandardAbbreviation>DSC</fd:StandardAbbreviation>
      <fd:SchemaType>WSDL</fd:SchemaType>
      <fd:DateCreated>2007-06-18</fd:DateCreated>
      <fd:CreatedBy>Nick Locke</fd:CreatedBy>
      <fd:Copyright>Logica UK Limited 2010</fd:Copyright>
      <fd:Modification>
        <fd:DateModified>2008-07-22</fd:DateModified>
        <fd:ModifiedBy>Nick Locke</fd:ModifiedBy>
        <fd:ModificationDetail>Original version.</fd:ModificationDetail>
      </fd:Modification>
    </fd:Metadata>
  </wsdl:documentation>
  <wsdl:import namespace="http://messages.find-cifas.org.uk/Direct/CIFAS" location="DirectMessagesCIFAS.wsdl"/>
  <wsdl:portType name="DirectCIFASPortType">
    <wsdl:operation name="CaseLookup">
      <wsdl:input message="dmc:CaseLookupRequestMessage"/>
      <wsdl:output message="dmc:CaseLookupResponseMessage"/>
      <wsdl:fault name="DirectFault" message="dmc:DirectFault"/>
    </wsdl:operation>
    <wsdl:operation name="BasicSearch">
      <wsdl:input message="dmc:BasicSearchRequestMessage"/>
      <wsdl:output message="dmc:BasicSearchResponseMessage"/>
      <wsdl:fault name="DirectFault" message="dmc:DirectFault"/>
    </wsdl:operation>
    <wsdl:operation name="FullSearch">
      <wsdl:input message="dmc:FullSearchRequestMessage"/>
      <wsdl:output message="dmc:FullSearchResponseMessage"/>
      <wsdl:fault name="DirectFault" message="dmc:DirectFault"/>
    </wsdl:operation>
    <wsdl:operation name="CodeTableValue">
      <wsdl:input message="dmc:CodeTableValueRequestMessage"/>
      <wsdl:output message="dmc:CodeTableValueResponseMessage"/>
      <wsdl:fault name="DirectFault" message="dmc:DirectFault"/>
    </wsdl:operation>
    <wsdl:operation name="CodeTableStatus">
      <wsdl:input message="dmc:CodeTableStatusRequestMessage"/>
      <wsdl:output message="dmc:CodeTableStatusResponseMessage"/>
      <wsdl:fault name="DirectFault" message="dmc:DirectFault"/>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input message="dmc:TestRequestMessage"/>
      <wsdl:output message="dmc:TestResponseMessage"/>
      <wsdl:fault name="DirectFault" message="dmc:DirectFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DirectCIFASBinding" type="DirectCIFASPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CaseLookup">
      <soap:operation soapAction="CaseLookup" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="dmc:DirectHeader" part="DirectHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DirectFault">
        <soap:fault name="DirectFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="BasicSearch">
      <soap:operation soapAction="BasicSearch" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="dmc:DirectHeader" part="DirectHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DirectFault">
        <soap:fault name="DirectFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FullSearch">
      <soap:operation soapAction="FullSearch" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="dmc:DirectHeader" part="DirectHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DirectFault">
        <soap:fault name="DirectFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CodeTableStatus">
      <soap:operation soapAction="RequestCodeTableStatus" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="dmc:DirectHeader" part="DirectHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DirectFault">
        <soap:fault name="DirectFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CodeTableValue">
      <soap:operation soapAction="RequestCodeTableValue" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="dmc:DirectHeader" part="DirectHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DirectFault">
        <soap:fault name="DirectFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="RequestTest" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="dmc:DirectHeader" part="DirectHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DirectFault">
        <soap:fault name="DirectFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DirectCIFASService">
    <wsdl:port name="DirectCIFASPort" binding="DirectCIFASBinding">
      <soap:address location="https://services.find-cifas.org.uk/Direct/CIFAS/Request.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
