cifas/cifas/schema/DirectElementsGeneric.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
           xmlns:fd="http://documentation.find-cifas.org.uk" 
           xmlns="http://objects.find-cifas.org.uk/Direct"
           targetNamespace="http://objects.find-cifas.org.uk/Direct" 
           elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:annotation>
    <xsd:appinfo>
      <fd:Metadata>
        <fd:Title>Direct Elements (Generic)</fd:Title>
        <fd:StandardAbbreviation>DEG</fd:StandardAbbreviation>
        <fd:SchemaType>XSD</fd:SchemaType>
        <fd:DateCreated>2008-06-16</fd:DateCreated>
        <fd:CreatedBy>Nick Locke</fd:CreatedBy>
        <fd:Copyright>Logica UK Limited 2010</fd:Copyright>
        <fd:Modification>
          <fd:DateModified>2008-07-15</fd:DateModified>
          <fd:ModifiedBy>Nick Locke</fd:ModifiedBy>
          <fd:ModificationDetail>Original version.</fd:ModificationDetail>
        </fd:Modification>
        <fd:Modification>
          <fd:DateModified>2010-03-12</fd:DateModified>
          <fd:ModifiedBy>Nick Locke</fd:ModifiedBy>
          <fd:ModificationDetail>Superfluous nillable=false clauses removed.
          New base element to allow disguising of card numbers added.
          </fd:ModificationDetail>
        </fd:Modification>
        <fd:Modification>
          <fd:DateModified>2016-09-14</fd:DateModified>
          <fd:ModifiedBy>Robert James</fd:ModifiedBy>
          <fd:ModificationDetail>v3 schemas, Member Numbers > 999. URN:10 chars</fd:ModificationDetail>
        </fd:Modification>
      </fd:Metadata>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:element name="SearchFeedback">
    <xsd:annotation>
      <xsd:documentation>
        The results of each search of FIND will be accompanied by a Search Feedback
        element.  This provides a list of the parties that were searched and,
        for each party, a list of any DMRs that could not be executed due to 
        the necessary data not being present.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="PartySearchFeedback" minOccurs="1" maxOccurs="10">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element ref="PartySequence" minOccurs="0" maxOccurs="1"/>
              <xsd:element name="UnexecutedDMR" type="RefCode4" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DMRoutcome">
    <xsd:annotation>
      <xsd:documentation>
        A matrix of results, showing the outcome from matching
        incoming data against each of the DMRs.  Any given DMRcode
        will only be included if a match has been obtained.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="MatchedDMR" minOccurs="0" maxOccurs="unbounded">
          <xsd:annotation>
            <xsd:documentation>
              This element will occur once for each matched DMR.  It will pass
              back the number of the DMR, which party/parties were matched and,
              where appropriate, further details of the match.
            </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="DMRcode" type="RefCode4" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                  <xsd:documentation>
                    Each DMR is allocated a unique identification.  The
                    available values can be found in DMRCOD.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="PartyDetail" minOccurs="0" maxOccurs="10">
                <xsd:annotation>
                  <xsd:documentation>
                    Where A DMRcode has been matched, further detail is provided to show
                    which party/parties within the search caused the match.  There may
                    also be an annotation where further detail on the match is provided.
                  </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element ref="PartySequence" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="Annotation" minOccurs="0" maxOccurs="unbounded">
                      <xsd:annotation>
                        <xsd:documentation>
                          Where necessary a code table id and code table value can 
                          be provided alongside a DMR match.  This provides further
                          detail, such as a Document Type for a matched document
                          reference.
                        </xsd:documentation>
                      </xsd:annotation>
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="MainCode" type="DMRqualifier" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                              <xsd:documentation>
                                The first table id and value combination.
                              </xsd:documentation>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element name="SubsidiaryCode" type="DMRqualifier" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                              <xsd:documentation>
                                The second table id and value combination.
                              </xsd:documentation>
                            </xsd:annotation>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="DMRqualifier">
    <xsd:annotation>
      <xsd:documentation>
        Where relevant, addition details may be provided in the form of
        a coded reference.  For example, the type of a matched document.
        The reference is given along with an indication of which reference
        table contains the corresponding value.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <!-- Check with Dan - this approach caters for most reference tables,
         but not those which vary by Member (eg Member Office).  Can't see
         that as a problem, but worth checking -->
      <xsd:element name="Table" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:length value="6"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Code" type="RefCode3" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Surname">
    <xsd:annotation>
      <xsd:documentation>
        Using the example of Arthur George Allen Jones, the surname would be Jones.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="2"/>
        <xsd:maxLength value="25"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="MiddleNames">
    <xsd:annotation>
      <xsd:documentation>
        Additional names given to an individual (not aliases by which the individual is also known).
        Using the example of Arthur George Allen Jones, the middle names would be George Allen.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="40"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="BirthDate" type="xsd:date">
    <xsd:annotation>
      <xsd:documentation>
        The date on which an individual was born.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Gender">
    <xsd:annotation>
      <xsd:documentation>
        Indicates whether the Subject is male or female.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:pattern value="[MF]"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:simpleType name="TelephoneNumber">
    <xsd:annotation>
      <xsd:documentation>
        A standard format for telephone numbers.
        Up to twenty digits, with no embedded spaces.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="20"/>
      <xsd:pattern value="[0-9]{1,20}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="EmailAddress">
    <xsd:annotation>
      <xsd:documentation>
        A standard format for e/mail addresses.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="60"/>
        <xsd:pattern value="([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="CompanyName">
    <xsd:annotation>
      <xsd:documentation>
        The name of a corporate entity.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="2"/>
        <xsd:maxLength value="70"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="CompanyNumber">
    <xsd:annotation>
      <xsd:documentation>
        The company number allocated to a corporate entity.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="8"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="CardNumber">
    <xsd:annotation>
      <xsd:documentation>
        Card numbers are either 14, 16 or 19 digits, but the
        intermediate length is not enforced to allow FIND to 
        cater for fictitious numbers anywhere between 14 and
        19 digits.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:pattern value="[0-9]{1,19}"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:simpleType name="DisguisedCardNumber">
    <xsd:annotation>
      <xsd:documentation>
        A display version of the card number which allows digits to be asterisked out.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
        <xsd:pattern value="[0-9*]{1,19}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="BankAccount">
    <!--Check the minimum and maximum lengths of sort code and account number-->
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SortCode" minOccurs="1" maxOccurs="1">
          <xsd:annotation>
            <xsd:documentation>The bank sorting code number.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:minLength value="6"/>
              <xsd:maxLength value="10"/>
              <xsd:pattern value="[0-9]{6,10}"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="AccountNumber" minOccurs="1" maxOccurs="1">
          <xsd:annotation>
            <xsd:documentation>The account number.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:minLength value="1"/>
              <xsd:maxLength value="20"/>
              <xsd:pattern value="[\s0-9]{1,20}"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="RollNumber" minOccurs="0" maxOccurs="1">
          <xsd:annotation>
            <xsd:documentation>The roll number, appropriate for some accounts.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:minLength value="1"/>
              <xsd:maxLength value="25"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="FINDaddress">
    <xsd:annotation>
      <xsd:documentation>
        A standard format for all addresses stored within FIND.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="FlatOrUnit" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            Details of a flat or industrial unit.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="HouseName" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            The name of a house or other premise.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="HouseNumber" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            The number of a house or other premise.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Street" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            The Street on which a house or other premise is located.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="District" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            The District in which a Street is located.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="36"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Town" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            The Town in which a District (or Street) is located.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="County" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            The County in which a Town is located.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Postcode" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            The Postcode relating to an address.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="5"/>
            <xsd:maxLength value="8"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SearchAddress">
    <xsd:annotation>
      <xsd:documentation>
        A standard format for all addresses supplied for searching
        of FIND.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="FlatOrUnit" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            Details of a flat or industrial unit.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="20"/>
            <xsd:pattern value="[^\|]{1,20}"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="HouseName" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            The name of a house or other premise.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="20"/>
            <xsd:pattern value="[^\|]{1,20}"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="HouseNumber" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            The number of a house or other premise.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
            <xsd:pattern value="[^\|]{1,10}"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Street" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            The Street on which a house or other premise is located.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="30"/>
            <xsd:pattern value="[^\|]{1,30}"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="District" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            The District in which a Street is located.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="36"/>
            <xsd:pattern value="[^\|]{1,36}"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Town" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            The Town in which a District (or Street) is located.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="20"/>
            <xsd:pattern value="[^\|]{1,20}"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="County" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            The County in which a Town is located.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="20"/>
            <xsd:pattern value="[^\|]{1,20}"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Postcode" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            The Postcode relating to an address.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="5"/>
            <xsd:maxLength value="8"/>
            <xsd:pattern value="[^\|]{5,8}"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="MemberSearchReference">
    <xsd:annotation>
      <xsd:documentation>
        A Member (or Direct Agent) must specify a reference which identifies a Search. This
        is not referenced within FIND, but can be used by the Member to assist with identifying
        search results.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="20"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="FINDsearchReference" type="xsd:integer">
    <xsd:annotation>
      <xsd:documentation>
        Each search or lookup executed by FIND is allocated a unique search reference.
        This can be used later to identify the results of that search.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DoNotFilter" type="xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>
        Certain types of Case must always be reviewed when received
        in search results - they must no be filtered out by any
        Member processing.  This element (when set to true) gives
        an unambiguous indication to the Member that the specific
        Case must not be filtered.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ManagingMember" type="MemberNumber" />
  <xsd:element name="OwningMember" type="MemberNumber" />
  <xsd:element name="SupplyDate" type="xsd:date">
    <xsd:annotation>
      <xsd:documentation>
        The exact date upon which a confirmed fraud originally 
        became live on the CIFAS database.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CaseId" type="xsd:integer">
    <xsd:annotation>
      <xsd:documentation>
        Each Case within FIND is allocated a unique reference number.  Using that number,
        specific and unambiguous access to a particular Case can be effected.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:simpleType name="RefCode2">
    <xsd:annotation>
      <xsd:documentation>
        A standard format for two character reference table keys.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z0-9]{2}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RefCode3">
    <xsd:annotation>
      <xsd:documentation>
        A standard format for three character reference table keys.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z0-9]{3}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RefCode4">
    <xsd:annotation>
      <xsd:documentation>
        A standard format for four character reference table keys.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z0-9]{4}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MemberNumber">
    <xsd:annotation>
      <xsd:documentation>
        Each organisation that interacts with CIFAS is allocated a unique Member number. The list of available Members can be obtained from MEMBER.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:integer">
      <xsd:pattern value="[123456789]\d*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="PartySequence">
    <xsd:annotation>
      <xsd:documentation>
        Each party must have an identifier which is unique within the search.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="1"/>
        <xsd:maxInclusive value="10"/>
      </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
</xsd:schema>